export(binMto, binMto.default, binMto.formula,
Add2, Add4, NHS, Wald,
simPower, simPowerI,
nbinMto, apprPower,
ec.mto
)

importFrom(mvtnorm, qmvnorm, pmvnorm)

S3method(plot, binMto)
S3method(print, binMto)